@charset "utf-8";

/* ### 기본 스타일 커스터마이징 시작 ### */

/* 게시판 버튼 */
/* 목록 버튼 */
#bo_gall a.btn_b01 {}
#bo_gall a.btn_b01:focus, #bo_gall .btn_b01:hover {}
#bo_gall a.btn_b02 {}
#bo_gall a.btn_b02:focus, #bo_gall .btn_b02:hover {}
#bo_gall a.btn_admin {} /* 관리자 전용 버튼 */
#bo_gall a.btn_admin:focus, #bo_gall a.btn_admin:hover {}
.chk_all{margin:10px 0}

/* 읽기 버튼 */
#bo_v a.btn_b01 {}
#bo_v a.btn_b01:focus, #bo_v .btn_b01:hover {}
#bo_v a.btn_b02 {}
#bo_v a.btn_b02:focus, #bo_v .btn_b02:hover {}
#bo_v a.btn_admin {} /* 관리자 전용 버튼 */
#bo_v a.btn_admin:focus, #bo_v a.btn_admin:hover {}

/* 쓰기 버튼 */
#bo_w .btn_confirm {} /* 서식단계 진행 */
#bo_w .btn_submit {}
#bo_w .btn_cancel {}
#bo_w .btn_frmline {} /* 우편번호검색버튼 등 */

/* 기본테이블 */
/* 읽기 내 테이블 */
#bo_v .tbl_head01 {}
#bo_v .tbl_head01 caption {}
#bo_v .tbl_head01 thead th {}
#bo_v .tbl_head01 thead a {}
#bo_v .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_v .tbl_head01 tfoot th {}
#bo_v .tbl_head01 tfoot td {}
#bo_v .tbl_head01 tbody th {}
#bo_v .tbl_head01 td {}
#bo_v .tbl_head01 a {}
#bo_v td.empty_table {}

/* 쓰기 테이블 */
#bo_w table {}
#bo_w caption {}
#bo_w .frm_address {}
#bo_w .frm_file {}
#bo_w .frm_info {}

#bo_w .tbl_frm01 {}
#bo_w .tbl_frm01 caption {}
#bo_w .tbl_frm01 th {}
#bo_w .tbl_frm01 td {}
#bo_w .tbl_frm01 textarea, #bo_w .frm_input {}
#bo_w .tbl_frm01 textarea {}
/*
#bo_w .tbl_frm01 #captcha {}
#bo_w .tbl_frm01 #captcha input {}
*/
#bo_w .tbl_frm01 a {}

#bo_w .required, #bo_w textarea.required {}

/* ### 기본 스타일 커스터마이징 끝 ### */

/* 갤러리 목록 */
#bo_gall h2 {margin:0;padding:0;width:0;height:0;font-size:0;line-height:0;overflow:hidden}

#bo_gall #gall_allchk{clear:both;padding:13px 10px;border-top:1px solid #e7eaef;color:#8a8f96}


#bo_gall #gall_ul {margin:10px 0 0;padding:0 10px;list-style:none}
#bo_gall #gall_ul:after {display:block;visibility:hidden;clear:both;content:""}

#bo_cate h2 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
#bo_cate ul {margin: 10px;padding-left:1px;zoom:1}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""} 
#bo_cate li{display:inline-block;float:left;margin:3px 5px 3px 0}
#bo_cate a {display:block;line-height:34px;padding:0 10px;border-radius:3px;background:#c9cfd9;color:#758298;}
#bo_cate #bo_cate_on {background:#fff;color:#3176eb;}


#bo_gall .gall_li {float:left;;width:50%;padding:5px}
#bo_gall .gall_li_wr{background:#fff;position:relative;}
#bo_gall .gall_li_chk{display:inline-block;padding:5px;position:absolute;top:0;left:0}
#bo_gall .gall_li:nth-child(2n+1) {clear:both}
#bo_gall .gall_li .gall_img img{width:100%;height:auto}
#bo_gall .gall_li .gall_img .no-img{display:block;background:#ddd;text-align:center;padding:30% 0}

#bo_gall .gall_now .gall_text_href a {color:#ff3061}

#bo_gall .gall_href a:link, #bo_gall .gall_href a:focus, #bo_gall .gall_href a:hover {text-decoration:none}
#bo_gall .gall_href strong, #bo_gall .gall_href span {display:block;width:174px;height:124px;background:#f7f7f7;text-align:center;line-height:8em}

#bo_gall .gall_text_href {padding:10px;display:block}
#bo_gall .gall_li_tit{display:block;margin:5px 0;font-weight:bold}
#bo_gall .bo_cate_link {display:inline-block;color:#3ca1ff !important} 
#bo_gall .profile_img img{border-radius:50%}
#bo_gall .gall_info{padding:5px 0 0;margin:10px 0 0 ;color:#777;font-size:0.92em;border-top:1px solid #eee;}
#bo_gall .gall_info:after {display:block;visibility:hidden;clear:both;content:""} 
#bo_gall .gall_info strong{display:inline-block;margin-right:3px}
#bo_gall .date{float:right}

/* 게시판 목록 공통 */
.bo_fx {margin-bottom:5px;padding:0 10px}
.bo_fx:after {display:block;visibility:hidden;clear:both;content:""}
.bo_fx ul {margin:0;padding:0;list-style:none}
#bo_list_total{position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;font-size:0}
.btn_bo_user {float:right;margin-right:7px;padding:7px 0;list-style:none}
.btn_bo_user>li {float:left;margin-left:5px;position:relative}
.btn_bo_user li a{display:inline-block;width:30px;line-height:40px;font-size:15px;color:#94a9bb;text-align:center;}
.btn_bo_user li button{width:30px;height:40px;font-size:15px;color:#94a9bb;background:none;border:0;text-align:center;}
.btn_bo_user li a:hover,.btn_bo_user li button:hover{color:#3176eb}
.btn_bo_user li .admin:hover{color:#ff0000}
.op_search_btn{width:30px;height:40px;font-size:15px;color:#94a9bb;background:none;border:0;text-align:center;margin:7px;float:left}

.btn_edit{display:none;position:absolute;top:40px;right:0;width:100px;background:#fff; border:1px solid #d4d4d4;z-index:599;
-webkit-box-shadow: 0 2px 3px #eee;
-moz-box-shadow:  0 2px 3px #eee;
box-shadow: 0 2px 3px #eee}
.btn_edit li {line-height:40px;width:100%;float:none;border-top:1px solid #f1f1f1;font-size:12px !important;text-align:left;padding:0 10px;position:relative;}
.btn_edit li button{width:100%;font-size:12px !important;text-align:left;color:#6b757c !important;text-align:left}
.btn_edit li i{position:absolute;top:0;right:10px;line-height:40px;font-size:14px !important;;color:#92a1af}
.btn_edit li:hover{background:#f8f8f8}
.btn_edit li a {color:#6b757c;font-size:12px !important;text-align:left}
.btn_bo_adm {text-align:center}
.btn_bo_adm li {display:inline-block;}
.btn_bo_adm button {border:0;padding:0 10px;background:#d13f4a;color:#fff;text-decoration:none;vertical-align:middle}
.bo_notice td {background:#f7f7f7}
.bo_notice td a {font-weight:bold}
.td_num strong {color:#000}
.bo_cate_link {color:#3ca1ff !important;font-weight:bold;text-decoration:none;font-size:0.92em} /* 글제목줄 분류스타일 */
.bo_subject{display:block;font-size:1.083em;font-weight:bold;margin:5px 0;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.bo_subject i{color: #8d96c2;font-size:12px}
.bo_subject  .fa-heart{color:#ff0000}
.bo_current {color:#e8180c}
.bo_info{color:#848484}
.bo_info:after {display:block;visibility:hidden;clear:both;content:""}
.bo_info .bo_cmt{float:right;color:#3598dc}
.bo_info .bo_date{display:inline-block;margin:0 5px}
.bo_info .cnt_cmt {display:inline-block;margin: 0 5px 0 3px;}
.bo_info .profile_img img{border-radius:50%;vertical-align:top}

#bo_sch {display:none;position:absolute;top:0;left:0;;background:#fff;border-radius:3px;width:100%;padding:7px 50px 7px 7px;z-index:9}
#bo_sch form{background:#f5f6f7;position:relative}
#bo_sch form:after {display:block;visibility:hidden;clear:both;content:""}
#bo_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#bo_sch select{border:0;height:40px;background:none;width:30%;float:left;}
#bo_sch .sch_input{height:40px;border:0;padding:0 10px;background-color:transparent;float:left;width:70%}
#bo_sch .sch_btn{height:40px;position:absolute;top:0;right:0;background:none;border:0;width:40px;font-size:15px}
#bo_sch .sch_close{position:Absolute;top:0;right:0;background:none;border:0;width:50px;height:54px;text-align:center;font-size:22px;color:#8f959a}
#bo_sch .sch_close:hover{color:#000}

#bo_list{margin:0px 0 10px}
.board_wr{background:#fff;position:relative}
.board_list{background:#fff;clear:both}
.board_list li{border-top:1px solid #e7eaef;position:relative;padding:10px;}

.all_chk{padding:13px 10px;border-top:1px solid #e7eaef;color:#8a8f96}

/* 게시판 쓰기 */
#char_count_desc {display:block;margin:0 0 5px;padding:0}
#char_count_wrap {margin:5px 0 0;text-align:right}
#char_count {font-weight:bold}

#wr_email, #wr_homepage, #wr_subject, .wr_link {width:100%}


/* 게시판 읽기 */
#bo_v {padding:0 0 10px;background:#fff
;-webkit-box-shadow:  0 1px 4px #ddd;
-moz-box-shadow:  0 1px 4px #ddd;
box-shadow: 0 1px 4px #ddd;}

#bo_v_table {padding: 10px;color:#999;font-size:0.9em;font-weight:bold}

#bo_v_title{font-size:1.5em;padding:10px}
.bo_v_cate{color: #3176eb;font-weight:bold;}
.bo_v_tit{}
#bo_v header p{font-size:0.92em;color:#777;font-style:italic ;margin:10px 0 0 }

#bo_v_info {padding: 0 10px 10px;color:#767e86;line-height:20px;}
#bo_v_info h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_v_info strong {display:inline-block;font-weight:normal;margin:0 5px}
#bo_v_info .profile_img img{border-radius:50%;vertical-align:top}
#bo_v_info .icon_view{display:inline-block;background:url(./img/icon_view.png) no-repeat 50% 50%;background-size:80%;height:15px;width:20px;overflow:hidden;text-indent:-999px;vertical-align:middle;margin:0 3px 0 5px}
#bo_v_info .icon_comment{display:inline-block;background:url(./img/icon_comment.png) no-repeat 50% 50%;background-size:70%;height:15px;width:20px;overflow:hidden;text-indent:-999px;vertical-align:middle;margin:0 3px 0 5px}

#bo_v_file h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_v_file ul {margin:0;padding:0;list-style:none}
#bo_v_file li {padding: 10px;border-bottom:1px solid #fff;background:#f5f6f7;color:#aaafb2;border-bottom:1px solid #e8ecf0}
#bo_v_file a {display:block;color:#aaafb2;text-decoration:none;margin:0 0 3px}
#bo_v_file a:focus, #bo_v_file a:hover, #bo_v_file a:active {text-decoration:none}
#bo_v_file a strong{color:#3497d9;text-decoration:underline}
.bo_v_file_cnt {font-size:0.92em}

#bo_v_link h2{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#bo_v_link ul {margin:0;padding:0;list-style:none}
#bo_v_link li {padding: 10px;border-bottom:1px solid #fff;background:#f5f6f7;color:#aaafb2;border-bottom:1px solid #e8ecf0}
#bo_v_link a {display:block;color:#aaafb2;text-decoration:none;margin:0 0 3px}
#bo_v_link a strong{color:#3497d9;text-decoration:underline}
#bo_v_link a:focus, #bo_v_link a:hover, #bo_v_link a:active {text-decoration:none}
.bo_v_link_cnt {font-size:0.92em}

#bo_button{position:relative;border-top:1px solid #e8ecf0;border-bottom:1px solid #e8ecf0;text-align:center;padding:5px 0}
#bo_button:after {display:block;visibility:hidden;clear:both;content:""}
#bo_button .bo_btn_li {display:inline-block;position: relative}
#bo_button li a {display: inline-block;width: 40px;line-height: 35px;font-size: 15px;color: #94a9bb;text-align:center;vertical-align:top;}
#bo_button li a:hover{color:#3176eb}
#bo_button li button {width: 40px;height: 35px;font-size: 15px;color: #94a9bb;background: none;border: 0;text-align: center;vertical-align:top}
#bo_button li button:hover{color:#3176eb}
#bo_button li .btn_edit a{text-align:left}

.bo_v_nb {margin:15px;position:relative;clear:both;text-align:left;;border-bottom:1px solid #e8ecf0}
.bo_v_nb:after {display:block;visibility:hidden;clear:both;content:""}
.bo_v_nb li {border-top:1px solid #e8ecf0;padding:10px;text-overflow: ellipsis; overflow: hidden;white-space: nowrap;}
.bo_v_nb li:hover{background:#f6f6f6}
.bo_v_nb li i{font-size:11px;margin-right:10px ; color:#cdd7e1}
.bo_v_nb li .nb_tit{display:inline-block;padding-right:20px;color:#4567b5}
.bo_v_nb li .nb_date{float:right;color:#888}
.bo_v_nb a{color:#6b6b6b}
.bo_v_nb .nb_sl{background:#ebf5d6;color:#3b681d}

#bo_v_atc {min-height:200px;padding:15px}
#bo_v_atc_title {margin:0;padding:0;height:0;overflow:hidden}

#bo_v_img {margin:0 0 10px;width:100%;overflow:hidden;zoom:1}
#bo_v_img:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_img img {margin-bottom:15px;max-width:100%;height:auto}

#bo_v_con {min-height:200px;margin-bottom:20px;width:100%;font-size:1.250em;line-height:1.7em;word-break:break-all;overflow:hidden}
#bo_v_con a {color:#000;text-decoration:underline}
#bo_v_con img {max-width:100%;height:auto}

#bo_v_act {margin-bottom:30px;text-align:center}
#bo_v_act .bo_v_act_gng {position:relative}
#bo_v_act a {margin-right:5px;vertical-align:middle}
#bo_v_act a:hover{background-color:#f3f3f3}
#bo_v_act_good, #bo_v_act_nogood {display:none;position:absolute;top:30px;left:0;padding:10px 0;width:165px;background:#ff3061;color:#fff;text-align:center}
#bo_v_act .bo_v_good{display:inline-block;border:1px solid #cdd0d7;padding:0 25px;border-radius:25px;line-height:40px;color:#ff0000}
#bo_v_act .bo_v_nogood{display:inline-block;border:1px solid #cdd0d7;padding:0 25px;border-radius:25px;line-height:40px;color:#7b86a3}
#bo_v_act .bo_v_good i,#bo_v_act .bo_v_nogood i{font-size:16px}

.bo_v_snswr{position:relative;display:inline-block;margin-left:-1px}
#bo_v_sns {display:none;position:absolute;top:30px;left:-10px;width:155px;border:1px solid #d9dee9;background:#fff;list-style:none;text-align:center;padding:9px;;z-index:99;zoom:1}
#bo_v_sns li {text-align:center;display:inline-block}
#bo_v_sns li .sns_f{display:block;background:#415b92;line-height:30px;width:40px;border-radius:5px}
#bo_v_sns li .sns_t{display:block;background:#35b3dc;line-height:30px;width:40px;border-radius:5px}
#bo_v_sns li .sns_g{display:block;background:#d5503a;line-height:30px;width:40px;border-radius:5px}

/* 게시판 댓글 */
.cmt_btn{background:none;text-align:left ;width:100% ;border:0;color:#000;font-weight:bold;font-size:1.167em;margin: 30px 0 10px;padding:0  15px  }

#bo_vc {padding:0 15px 15px}
#bo_vc h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc article {margin:0 0 15px;position:relative}
#bo_vc header {position:relative;padding:0 0 0 50px;height:40px;line-height:20px}
#bo_vc .comment_profile_img{position:absolute;top:0;left:0}
#bo_vc .comment_profile_img img, #bo_vc .profile_img img{border-radius:50%}
#bo_vc .sv_member, #bo_vc .sv_guest {font-weight:bold}
.bo_vc_hdinfo {display:inline-block;color:#777;font-size:0.92em}
#bo_vc h1 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
#bo_vc .cmt_contents {margin:10px 0 0 ;line-height:1.8em;border-bottom:1px solid #f1f1f1;padding-bottom:15px}
#bo_vc .cmt_contents  p{font-size:1.083em}
#bo_vc p a {text-decoration:underline}
#bo_vc p a.s_cmt {text-decoration:underline;color:#ed6479}
#bo_vc_empty {margin:0;padding:15px !important;text-align:center}
#bo_vc #bo_vc_winfo {float:left}
#bo_vc footer {zoom:1}
#bo_vc footer:after {display:block;visibility:hidden;clear:both;content:""}

.bo_vc_act {text-align:right;;margin:0;list-style:none}
.bo_vc_act:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_act li {display:inline-block;margin:0 2px}
.bo_vc_act li a{color:#3497d9;text-decoration:underline}

.bo_vc_w {position:relative;margin:10px 0;display:block;}
.bo_vc_w:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc_w h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.bo_vc_w #char_cnt {display:block;margin:0 0 5px}
.bo_vc_w textarea{padding:5px;width:100%;height:120px;
border:1px solid #d0d3db;background:#f9fafa;color:#000;vertical-align:middle;border-radius:3px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);}
#wr_secret{}

#bo_vc_w{margin:0 15px 15px;}
.bo_vc_w_info{margin:5px 0}
.bo_vc_w_info:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_w_info .frm_input{float:left;;width:49.5%;margin: 0 0 5px 0}
.bo_vc_w_info #wr_password{float:right;}
.bo_vc_w_info #captcha{display:block;clear:both}
.bo_vc_w .btn_confirm{margin-top:5px;clear:both}
.bo_vc_w .btn_submit{height:40px;padding:0 20px;border-radius:3px;font-weight:bold;font-size:1.083em;position:absolute;bottom:0;right:0;}
.bo_vc_w_wr:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_w .bo_vc_secret{float:left;display:block;line-height:40px;}

#bo_vc_send_sns{display:block;float:left}
#bo_vc_sns {display:block;margin:0;padding:0;list-style:none;zoom:1}
#bo_vc_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc_sns li {float:left;margin:0 5px 0 0}
#bo_vc_sns .sns_li_f{border-radius:3px;background:#3a589b;height:40px;;padding: 10px 0 10px 10px}
#bo_vc_sns .sns_li_t{border-radius:3px;background:#00aced;height:40px;;padding: 10px 0 10px 10px}
#bo_vc_sns .sns_li_off{background:#bbb}
#bo_vc_sns a{display:inline-block;padding:0 15px 0 5px;}
#bo_vc_sns input {margin:0 5px 0 0 }

.bo_vl_opt{position:absolute;top:0;right:0;}
.bo_vl_opt .cmt_opt{background:none;border:0;width:20px;height:30px;color:#86949a;font-size:15px}
.bo_vl_opt .cmt_opt:hover{color:#447eec}


/*글쓰기*/
#bo_w{background:#fff}
#bo_w .form_01{margin:0 ;padding:15px}
#bo_w .bo_w_select select{border:1px solid #d0d3db;background:#fff;width:100%}
#bo_w .bo_w_tit{position:relative}
#bo_w .bo_w_tit .frm_input{padding-right:120px;}
#bo_w .bo_w_tit #btn_autosave{position:absolute;top:5px;right:5px;line-height:30px;height:30px;}
#bo_w .bo_w_flie .frm_input{margin:10px 0 0 }
#bo_w .bo_w_flie .file_del{position:absolute;top:0;right:0;font-size:0.92em;color:#7d7d7d}
#bo_w .bo_w_select select{border:1px solid #3497d9;height:40px;border-radius:3px}
#bo_w .btn_bottom {padding:0 15px 15px}
#bo_w .btn_bottom  .btn_submit{width:100%;padding:10px}
.lb_tit{display:block;margin:10px 0 5px;color:#3f4654}
#bo_w .frm_input{width:100%}
