@charset "utf-8";
/* 새글 스킨 (latest) */
.lat {position:relative;margin:0 auto;max-width:1200px;;padding:10px;padding-left:100px;line-height:30px}
.lat .lat_title {position:absolute;top:10px;left:0;letter-spacing:2px;font-weight:bold}
.lat li{}
.lat li .new_icon{display:inline-block;line-height:16px;background:#f4af07;width:16px;text-align:center;font-size:10px;border-radius:3px;color:#fff}
.lat .more_btn{position:absolute;top:10px;right:0;background:url(./img/plus.png) 50% 50% no-repeat;width:30px;height:30px;display:block;text-indent:-999px;overflow:hidden;z-index:99}