@charset "utf-8";
/* 새글 스킨 (latest) */
.lat {position:relative;padding: 20px;background:#fff;margin:1px 10px 10px}
.lat ul {;padding:0;list-style:none;}
.lat li {line-height:30px;padding-left:10px;position:relative;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.lat li:before{position:absolute;top:50%;left:0;width:4px;height:4px;background:#ddd;margin-top:-2px;content:''}
.lat li .fa-heart{color:#ff0000}
.lat li .new_icon{display:inline-block;padding: 0 3px;line-height:14px ;font-size:0.833em;color:#fff;background:#c56bed}
.lat li .cnt_cmt{color:#ff3970}
.lat_title {display:block;font-size:1.25em;margin:0 0 5px}
.lat_more {position:absolute;top:10px;right:0;}
