@charset "utf-8";

/* 아웃로그인 스킨 */
.ol {position:relative;margin:3% 0 ;background:#fff;border:1px solid #dbe1e9}
.ol h2 {margin:0;padding:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}

.ol a.btn_admin {display:inline-block;padding:0 10px;height:25px;text-decoration:none;line-height:25px;vertical-align:middle} /* 관리자 전용 버튼 */
.ol a.btn_admin:focus, .ol a.btn_admin:hover {text-decoration:none}

#ol_before {}
#ol_before:after {display:block;visibility:hidden;clear:both;content:""}
#ol_before .ol_wr{position:relative;border:1px solid #d0d3db;border-radius:5px;margin:13px 13px 5px}
#ol_id {display:block;width:100%;border:0;padding:0 10px;height:32px;background:#f9fafa;border-radius:5px 0 0 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);}
#ol_pw {display:block;width:100%;border:0;padding:0 10px;border-top:1px solid #d0d3dc;height:32px;background:#fcfbfb;border-radius:0 0 0 5px ;
-webkit-box-shadow:inset 0 1px 4px #dfdfe;
-moz-box-shadow:inset 0 1px 4px #dfdfe;
box-shadow:inset 0 1px 4px #dfdfef}
#ol_submit {position:absolute;top:0;right:0;width:68px;height:64px;background:#fff;border-left:1px solid #d0d3dc;color:#4b6ff2;font-weight:bold;font-size:1.167em;border-radius: 0 5px 5px 0 }
#ol_submit:hover{background:#f3f8f8}
#ol_svc {float:right;line-height:20px;margin-right:12px;margin-bottom:7px;color:#7b7b7b;font-size:0.92em}
#ol_svc a{display:inline-block;color:#888;margin:0 3px}
#ol_auto {float:left;line-height:20px;margin-left:13px;}
.ol_auto_wr:after {display:block;visibility:hidden;clear:both;content:""}
#ol_auto {float:left;margin-top:4px;line-height:20px}
#ol_auto label {color:#555}
#ol_auto .agree_ck {display:inline-block;float:left;margin:3px 5px 0 0;width:15px;height:15px;background:url('img/input_chk.png') no-repeat 0 -15px;vertical-align:top}
#ol_auto .agree_ck.click_on {background:url('img/input_chk.png') no-repeat 0 0}
#auto_login {position:absolute;top:0;left:0;width:1px;height:1px;opacity:0;outline:0;z-index:9}
.ol_auto_wr:after {display:block;visibility:hidden;clear:both;content:""}


#ol_after {}
#ol_after_hd {position:relative;margin:0 0 10px;padding:10px;padding-left:80px;height:72px;}
#ol_after_hd strong{display:block;margin:5px 0}
#ol_after_hd .profile_img{position:absolute;top:15px;left:15px;display:inline-block;}
#ol_after_hd .profile_img img{border:1px solid #bbb;border-radius:50%;width:50px;height:50px}
#ol_after_hd .profile_img  a{display:block;position:absolute;bottom:-5px;right:-5px;background: #fff;text-align:center;font-size:17px;width:30px;line-height:30px;border-radius:50%;color:#777;
-webkit-box-shadow: -2px -2px 5px rgba(0,0,0,0.1);
-moz-box-shadow:  -2px -2px 5px rgba(0,0,0,0.1);
box-shadow: -2px -2px 5px rgba(0,0,0,0.1);}
#ol_after_hd .btn_admin {}
#ol_after_hd .btn_b04{line-height:23px;padding:0 5px}
#ol_after_private {border-top: 1px solid #e8e8e8;padding:5px 0;zoom:1}
#ol_after_private:after {display:block;visibility:hidden;clear:both;content:""}
#ol_after_private li {position:relative;text-align:center;padding:5px 15px;text-align:left;line-height:22px;}
#ol_after_private li a{color:#525d71}
#ol_after_private li i{width:15px;font-size:13px;text-align:center;margin-right:10px}  
#ol_after_private li strong{position:absolute;top:5px;right:15px;color:#3176eb}
#ol_after_pt {margin-right:1px}

/*소셜*/
#ol_before .login-sns h3 {margin:0}
#ol_before .login-sns{border:0;border-top:1px solid #dbe1e9}