@charset "utf-8";
/* 새글 스킨 (latest) */

.lat {position:relative;margin-bottom:20px;overflow:hidden;border: 1px solid #dbe1e9;background:#fff;border-radius:5px;
-webkit-box-shadow: 0 1px 5px #d6d6d6;
-moz-box-shadow:  0 1px 5px #d6d6d6);
box-shadow: 0 1px 5px #d6d6d6}
.lat .lat_title {display:block;padding:0 15px;line-height:45px;font-size:1.167em;color:#253dbe;background:#fafafa;border-radius:5px 5px 0 0 }
.lat .lat_title a{}
.lat ul{}
.lat li {position:relative;border-top:1px solid #f1f3f6;line-height:40px;padding:0 15px;list-style:none;}
.lat li:hover{background:#f3f7f7}
.lat li a {font-size:1.083em;color:#3f4157}
.lat li:hover a{color:#0016f7}
.lat li .fa-heart{color:#ff0000;}
.lat li .fa-lock{display: inline-block;line-height: 14px;width: 16px;font-size: 0.833em;color: #4f818c;background: #cbe3e8;text-align: center;border-radius: 2px;font-size: 12px;border:1px solid #a2c6ce}
.lat li .new_icon{display:inline-block;width: 16px;line-height:16px;font-size:0.833em;color:#ffff00;background:#6db142;text-align:center;border-radius: 2px;}
.lat li .hot_icon{display:inline-block;width: 16px;line-height:16px ;font-size:0.833em;color:#fff;background:#e52955;text-align:center;border-radius: 2px;}
.lat li .fa-caret-right{color:#bbb}
.lat .lt_date{position:absolute;top:0;right:15px;color:#8f8f8f}
.lat .lt_cmt{position:absolute;top:11px;right:55px;display:inline-block;line-height:15px;border:1px solid #b8cacc;color:#3176eb;border-radius:15px;padding:0 3px;font-size:0.917em}
.lat .empty_li{line-height:163px ;color:#666;text-align:center;padding:0;}
.lat .lt_more {position:absolute;top:11px;right:10px;display:block;width:25px;line-height:25px;;border-radius:3px;text-align:center;}
.lat .lt_more:hover{color:#777}